<a href="https://colab.research.google.com/github/thasliya0404/internship/blob/main/Dataset_creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_excel('/content/DATASET FOR DSA (1).xlsx')
data

,COURSE_ID,FEEDBACK_ID,KO,DATE,QUESTION_ID,VALUE,STUDENT_ID,TIMESTAMP,TYPE,REMARKS
0,12,50,92.0,2024-09-24,4,5,93,2024-09-24 10:45:38.210,1,NaN
1,12,50,92.0,2024-09-24,5,5,93,2024-09-24 10:45:38.227,1,NaN
2,12,50,92.0,2024-09-24,6,5,93,2024-09-24 10:45:38.227,1,NaN
3,12,50,92.0,2024-09-24,8,5,93,2024-09-24 10:45:38.227,1,NaN
4,12,50,92.0,2024-09-24,10,0,93,2024-09-24 10:45:38.227,2,Very nice class easyly understandable
...,...,...,...,...,...,...,...,...,...,...
118407,1254,1310,87.0,2025-08-29,10,0,25834,2025-08-29 16:50:43.543,2,Na
118408,1254,1310,87.0,2025-08-29,11,0,25834,2025-08-29 16:50:43.583,2,Na
118409,1254,1310,87.0,2025-08-29,4,0,25835,2025-08-29 16:50:58.767,2,AI for Governance
118410,1254,1310,87.0,2025-08-29,5,4,25835,2025-08-29 16:50:58.777,1,NaN
118411,1254,1310,87.0,2025-08-29,6,5,25835,2025-08-29 16:50:58.787,1,NaN

In [ ]:
data.isna().sum()

COURSE_ID          0
FEEDBACK_ID        0
KO               150
DATE               0
QUESTION_ID        0
VALUE              0
STUDENT_ID         0
TIMESTAMP          0
TYPE               0
REMARKS        60902
dtype: int64

In [ ]:
data1 = data[data['TYPE'] == 2]

In [ ]:
data1.isna().sum()

COURSE_ID         0
FEEDBACK_ID       0
KO               75
DATE              0
QUESTION_ID       0
VALUE             0
STUDENT_ID        0
TIMESTAMP         0
TYPE              0
REMARKS        1166
dtype: int64

In [ ]:
data1[data1['KO'].isna()]

,COURSE_ID,FEEDBACK_ID,KO,DATE,QUESTION_ID,VALUE,STUDENT_ID,TIMESTAMP,TYPE,REMARKS
31029,108,149,NaN,2025-02-13,4,0,12281,2025-02-13 11:30:10.907,2,Python basics
31033,108,149,NaN,2025-02-13,10,0,12281,2025-02-13 11:30:10.937,2,Good presentation
31034,108,149,NaN,2025-02-13,11,0,12281,2025-02-13 11:30:10.937,2,NIL
78628,1224,1270,NaN,2025-07-08,4,0,15083,2025-07-08 09:25:11.620,2,Power BI Basic
78632,1224,1270,NaN,2025-07-08,10,0,15083,2025-07-08 09:25:11.650,2,Group By in Power BI
...,...,...,...,...,...,...,...,...,...,...
101193,1264,1320,NaN,2025-11-07,10,0,36022,2025-11-07 20:39:20.233,2,trainer is very helpful
101194,1264,1320,NaN,2025-11-07,11,0,36022,2025-11-07 20:39:20.247,2,no
113243,32,71,NaN,2024-11-19,4,0,379,2024-11-19 10:16:04.350,2,python intro
113247,32,71,NaN,2024-11-19,10,0,379,2024-11-19 10:16:04.410,2,hands on with learning python
113248,32,71,NaN,2024-11-19,11,0,379,2024-11-19 10:16:04.410,2,need more clarity on how to code stuff

In [ ]:
data1[(data1['COURSE_ID'] == 108) & (data1['DATE'] == '2025-02-13')]

,COURSE_ID,FEEDBACK_ID,KO,DATE,QUESTION_ID,VALUE,STUDENT_ID,TIMESTAMP,TYPE,REMARKS
31029,108,149,NaN,2025-02-13,4,0,12281,2025-02-13 11:30:10.907,2,Python basics
31033,108,149,NaN,2025-02-13,10,0,12281,2025-02-13 11:30:10.937,2,Good presentation
31034,108,149,NaN,2025-02-13,11,0,12281,2025-02-13 11:30:10.937,2,NIL

In [ ]:
data1[(data1['COURSE_ID'] == 108) & (data1['DATE'] == '2025-02-12')]

,COURSE_ID,FEEDBACK_ID,KO,DATE,QUESTION_ID,VALUE,STUDENT_ID,TIMESTAMP,TYPE,REMARKS
30814,108,149,82.0,2025-02-12,4,0,12276,2025-02-12 15:59:29.567,2,Python basics
30818,108,149,82.0,2025-02-12,10,0,12276,2025-02-12 15:59:29.600,2,Easy and beginner friendly explaination
30819,108,149,82.0,2025-02-12,11,0,12276,2025-02-12 15:59:29.600,2,No
30922,108,149,82.0,2025-02-12,4,0,12277,2025-02-12 16:03:36.797,2,Python Basics
30926,108,149,82.0,2025-02-12,10,0,12277,2025-02-12 16:03:36.863,2,Could revise python in a short session
30927,108,149,82.0,2025-02-12,11,0,12277,2025-02-12 16:03:36.877,2,Its good
30928,108,149,82.0,2025-02-12,4,0,12278,2025-02-12 16:03:39.533,2,python foundation
30932,108,149,82.0,2025-02-12,10,0,12278,2025-02-12 16:03:39.583,2,real time examples
30933,108,149,82.0,2025-02-12,11,0,12278,2025-02-12 16:03:39.600,2,No
30934,108,149,82.0,2025-02-12,4,0,12279,2025-02-12 16:03:40.787,2,python basics
30938,108,149,82.0,2025-02-12,10,0,12279,2025-02-12 16:03:40.787,2,Very friendly and simple explanation.
30939,108,149,82.0,2025-02-12,11,0,12279,2025-02-12 16:03:40.803,2,It will be more good to explain in malayalam.T...
30940,108,149,82.0,2025-02-12,4,0,12280,2025-02-12 16:04:15.653,2,Python Basics
30944,108,149,82.0,2025-02-12,10,0,12280,2025-02-12 16:04:15.700,2,Good presentation
30945,108,149,82.0,2025-02-12,11,0,12280,2025-02-12 16:04:15.717,2,If the classes are in malayalam.It will be mor...

In [ ]:
mask = (data1['COURSE_ID'] == 108) & (data1['DATE'] == '2025-02-13')
data1.loc[mask, 'KO'] = data1.loc[mask, 'KO'].fillna(82.0)

In [ ]:
data1[(data1['COURSE_ID'] == 32) & (data1['DATE'] == '2024-11-19')]

,COURSE_ID,FEEDBACK_ID,KO,DATE,QUESTION_ID,VALUE,STUDENT_ID,TIMESTAMP,TYPE,REMARKS
113243,32,71,NaN,2024-11-19,4,0,379,2024-11-19 10:16:04.350,2,python intro
113247,32,71,NaN,2024-11-19,10,0,379,2024-11-19 10:16:04.410,2,hands on with learning python
113248,32,71,NaN,2024-11-19,11,0,379,2024-11-19 10:16:04.410,2,need more clarity on how to code stuff

In [ ]:
data1[(data1['COURSE_ID'] == 32) & (data1['DATE'] == '2024-11-18')]

,COURSE_ID,FEEDBACK_ID,KO,DATE,QUESTION_ID,VALUE,STUDENT_ID,TIMESTAMP,TYPE,REMARKS
2171,32,71,107.0,2024-11-18,11,0,374,2024-11-18 20:53:13.910,2,Upto 9th std only i studied computer science m...
2172,32,71,107.0,2024-11-18,4,0,375,2024-11-18 21:06:57.687,2,Python
2176,32,71,107.0,2024-11-18,10,0,375,2024-11-18 21:06:57.717,2,Explanation is very good. Students can able to...
2177,32,71,107.0,2024-11-18,11,0,375,2024-11-18 21:06:57.717,2,Excellent presentation
113214,32,71,107.0,2024-11-18,4,0,366,2024-11-18 20:32:21.873,2,Python basics
113218,32,71,107.0,2024-11-18,10,0,366,2024-11-18 20:32:21.890,2,explanation
113219,32,71,107.0,2024-11-18,11,0,366,2024-11-18 20:32:21.890,2,no
113220,32,71,107.0,2024-11-18,4,0,371,2024-11-18 20:36:04.780,2,Python basics
113224,32,71,107.0,2024-11-18,10,0,371,2024-11-18 20:36:04.797,2,very much interactive and helping to clear our...
113225,32,71,107.0,2024-11-18,11,0,371,2024-11-18 20:36:04.797,2,So far going good
113226,32,71,107.0,2024-11-18,4,0,372,2024-11-18 20:36:40.850,2,Introduction To Python Programming
113230,32,71,107.0,2024-11-18,10,0,372,2024-11-18 20:36:40.857,2,The Trainer is always cooperative and takes ti...
113231,32,71,107.0,2024-11-18,11,0,372,2024-11-18 20:36:40.857,2,No
113232,32,71,107.0,2024-11-18,4,0,373,2024-11-18 20:36:58.510,2,Introduction to python
113236,32,71,107.0,2024-11-18,10,0,373,2024-11-18 20:36:58.510,2,Instant feedback
113237,32,71,107.0,2024-11-18,11,0,373,2024-11-18 20:36:58.510,2,Good class
113238,32,71,107.0,2024-11-18,4,0,374,2024-11-18 20:53:13.893,2,python-Introduction
113242,32,71,107.0,2024-11-18,10,0,374,2024-11-18 20:53:13.910,2,"For all the students doubts, you are answering..."
113624,32,71,107.0,2024-11-18,4,0,367,2024-11-18 20:33:43.790,2,Python
113628,32,71,107.0,2024-11-18,10,0,367,2024-11-18 20:33:43.790,2,Gave time to do the programms.
113629,32,71,107.0,2024-11-18,11,0,367,2024-11-18 20:33:43.790,2,NIL
113630,32,71,107.0,2024-11-18,4,0,368,2024-11-18 20:34:37.273,2,"Setting up programming Environment, Virtual en..."
113634,32,71,107.0,2024-11-18,10,0,368,2024-11-18 20:34:37.273,2,very interactive
113635,32,71,107.0,2024-11-18,11,0,368,2024-11-18 20:34:37.273,2,none
113636,32,71,107.0,2024-11-18,4,0,369,2024-11-18 20:35:30.197,2,basics of python
113640,32,71,107.0,2024-11-18,10,0,369,2024-11-18 20:35:30.197,2,"Great presentation , easy to understanding topics"
113641,32,71,107.0,2024-11-18,11,0,369,2024-11-18 20:35:30.210,2,.
113642,32,71,107.0,2024-11-18,4,0,370,2024-11-18 20:35:31.800,2,Python
113646,32,71,107.0,2024-11-18,10,0,370,2024-11-18 20:35:31.800,2,include the practice section
113647,32,71,107.0,2024-11-18,11,0,370,2024-11-18 20:35:31.800,2,Please include more examples
113648,32,71,107.0,2024-11-18,4,0,376,2024-11-18 22:07:22.763,2,python
113652,32,71,107.0,2024-11-18,10,0,376,2024-11-18 22:07:22.797,2,clear cut explanations
113653,32,71,107.0,2024-11-18,11,0,376,2024-11-18 22:07:22.797,2,no

In [ ]:
mask1 = (data1['COURSE_ID'] == 32) & (data1['DATE'] == '2024-11-19')
data1.loc[mask1, 'KO'] = data1.loc[mask1, 'KO'].fillna(107.0)

In [ ]:
data[(data['KO'].isna()) & (data['COURSE_ID'] == 1264)]

,COURSE_ID,FEEDBACK_ID,KO,DATE,QUESTION_ID,VALUE,STUDENT_ID,TIMESTAMP,TYPE,REMARKS
94178,1264,1320,NaN,2025-10-04,4,0,36025,2025-10-04 20:29:45.010,2,"Azure container apps, RBAC"
94179,1264,1320,NaN,2025-10-04,5,4,36025,2025-10-04 20:29:45.043,1,NaN
94180,1264,1320,NaN,2025-10-04,6,4,36025,2025-10-04 20:29:45.043,1,NaN
94181,1264,1320,NaN,2025-10-04,8,4,36025,2025-10-04 20:29:45.057,1,NaN
94182,1264,1320,NaN,2025-10-04,10,0,36025,2025-10-04 20:29:45.057,2,Explanation with demonstration
94183,1264,1320,NaN,2025-10-04,11,0,36025,2025-10-04 20:29:45.057,2,Good session
94184,1264,1320,NaN,2025-10-04,4,0,36022,2025-10-04 20:30:31.583,2,Azure container app
94185,1264,1320,NaN,2025-10-04,5,4,36022,2025-10-04 20:30:31.600,1,NaN
94186,1264,1320,NaN,2025-10-04,6,4,36022,2025-10-04 20:30:31.617,1,NaN
94187,1264,1320,NaN,2025-10-04,8,4,36022,2025-10-04 20:30:31.630,1,NaN
94188,1264,1320,NaN,2025-10-04,10,0,36022,2025-10-04 20:30:31.647,2,Good
94189,1264,1320,NaN,2025-10-04,11,0,36022,2025-10-04 20:30:31.663,2,No
94253,1264,1320,NaN,2025-10-05,4,0,36027,2025-10-05 00:46:21.770,2,Azure container instance and Azure Kubernet Se...
94254,1264,1320,NaN,2025-10-05,5,4,36027,2025-10-05 00:46:21.783,1,NaN
94255,1264,1320,NaN,2025-10-05,6,5,36027,2025-10-05 00:46:21.783,1,NaN
94256,1264,1320,NaN,2025-10-05,8,5,36027,2025-10-05 00:46:21.783,1,NaN
94257,1264,1320,NaN,2025-10-05,10,0,36027,2025-10-05 00:46:21.783,2,The session was clear and understanding
94258,1264,1320,NaN,2025-10-05,11,0,36027,2025-10-05 00:46:21.800,2,No
95186,1264,1320,NaN,2025-10-12,4,0,36022,2025-10-12 21:33:46.673,2,Devops transformation journey
95187,1264,1320,NaN,2025-10-12,5,3,36022,2025-10-12 21:33:46.690,1,NaN
95188,1264,1320,NaN,2025-10-12,6,3,36022,2025-10-12 21:33:46.707,1,NaN
95189,1264,1320,NaN,2025-10-12,8,3,36022,2025-10-12 21:33:46.707,1,NaN
95190,1264,1320,NaN,2025-10-12,10,0,36022,2025-10-12 21:33:46.723,2,Composed
95191,1264,1320,NaN,2025-10-12,11,0,36022,2025-10-12 21:33:46.723,2,Ok
95192,1264,1320,NaN,2025-10-12,4,0,36025,2025-10-12 21:37:14.747,2,Azure devops overview and exersice
95193,1264,1320,NaN,2025-10-12,5,4,36025,2025-10-12 21:37:14.763,1,NaN
95194,1264,1320,NaN,2025-10-12,6,5,36025,2025-10-12 21:37:14.763,1,NaN
95195,1264,1320,NaN,2025-10-12,8,5,36025,2025-10-12 21:37:14.780,1,NaN
95196,1264,1320,NaN,2025-10-12,10,0,36025,2025-10-12 21:37:14.780,2,Interactive and providing handson exersices
95197,1264,1320,NaN,2025-10-12,11,0,36025,2025-10-12 21:37:14.780,2,Good session
98376,1264,1320,NaN,2025-10-25,4,0,36025,2025-10-25 20:30:54.930,2,Azure repos and CI
98377,1264,1320,NaN,2025-10-25,5,4,36025,2025-10-25 20:30:54.960,1,NaN
98378,1264,1320,NaN,2025-10-25,6,4,36025,2025-10-25 20:30:54.960,1,NaN
98379,1264,1320,NaN,2025-10-25,8,4,36025,2025-10-25 20:30:54.977,1,NaN
98380,1264,1320,NaN,2025-10-25,10,0,36025,2025-10-25 20:30:54.993,2,Covering every points related to the topic
98381,1264,1320,NaN,2025-10-25,11,0,36025,2025-10-25 20:30:54.993,2,Good session
98382,1264,1320,NaN,2025-10-25,4,0,36022,2025-10-25 20:32:41.290,2,Azure pipelines concurrency
98383,1264,1320,NaN,2025-10-25,5,4,36022,2025-10-25 20:32:41.290,1,NaN
98384,1264,1320,NaN,2025-10-25,6,4,36022,2025-10-25 20:32:41.307,1,NaN
98530,1264,1320,NaN,2025-10-25,8,4,36022,2025-10-25 20:32:41.307,1,NaN
98531,1264,1320,NaN,2025-10-25,10,0,36022,2025-10-25 20:32:41.307,2,Good pace
98532,1264,1320,NaN,2025-10-25,11,0,36022,2025-10-25 20:32:41.323,2,No
101189,1264,1320,NaN,2025-11-07,4,0,36022,2025-11-07 20:39:20.200,2,Introduction to continuous delivery Create a r...
101190,1264,1320,NaN,2025-11-07,5,4,36022,2025-11-07 20:39:20.233,1,NaN
101191,1264,1320,NaN,2025-11-07,6,4,36022,2025-11-07 20:39:20.233,1,NaN
101192,1264,1320,NaN,2025-11-07,8,4,36022,2025-11-07 20:39:20.233,1,NaN
101193,1264,1320,NaN,2025-11-07,10,0,36022,2025-11-07 20:39:20.233,2,trainer is very helpful
101194,1264,1320,NaN,2025-11-07,11,0,36022,2025-11-07 20:39:20.247,2,no

In [ ]:
data1[(data1['COURSE_ID'] == 1264) & (data1['DATE'] == '2025-10-03')]

,COURSE_ID,FEEDBACK_ID,KO,DATE,QUESTION_ID,VALUE,STUDENT_ID,TIMESTAMP,TYPE,REMARKS
94014,1264,1320,172.0,2025-10-03,4,0,36025,2025-10-03 20:43:22.827,2,"Container, Azure Kubernetes"
94018,1264,1320,172.0,2025-10-03,10,0,36025,2025-10-03 20:43:22.870,2,Informative and demonstrated properly
94019,1264,1320,172.0,2025-10-03,11,0,36025,2025-10-03 20:43:22.877,2,Good session

In [ ]:
mask2 = (data1['COURSE_ID'] == 1264) & (data1['DATE'] == '2025-10-04') | (data1['DATE'] == '2025-10-05')
data1.loc[mask2, 'KO'] = data1.loc[mask2, 'KO'].fillna(172.0)

In [ ]:
data1['KO'].isna().sum()

np.int64(60)

In [ ]:
data1[(data1['COURSE_ID'] == 1264) & (data1['DATE'] == '2025-10-12')]['KO'].isna().sum()

np.int64(6)

In [ ]:
data1[(data1['COURSE_ID'] == 1264) & (data1['DATE'] == '2025-10-25')]['KO'].isna().sum()

np.int64(6)

In [ ]:
d = data1['KO'].isna()

In [ ]:
# Re-create the boolean mask for rows where 'KO' is NaN
boolean_mask_ko_isna = data1['KO'].isna()

# Filter data1 using this boolean mask
d = data1[boolean_mask_ko_isna]

# Get unique 'DATE' values from the filtered DataFrame
d['DATE'].unique()

<DatetimeArray>
['2025-07-08 00:00:00', '2025-07-07 00:00:00', '2025-07-09 00:00:00',
 '2025-07-10 00:00:00', '2025-07-11 00:00:00', '2025-10-12 00:00:00',
 '2025-10-25 00:00:00', '2025-11-07 00:00:00']
Length: 8, dtype: datetime64[ns]

In [ ]:
data1 = data1.dropna(subset=['KO'])

In [ ]:
data1.isna().sum()

COURSE_ID         0
FEEDBACK_ID       0
KO                0
DATE              0
QUESTION_ID       0
VALUE             0
STUDENT_ID        0
TIMESTAMP         0
TYPE              0
REMARKS        1166
dtype: int64

In [ ]:
data1['REMARKS'] = data1['REMARKS'].fillna(-1)

In [ ]:
data1.isna().sum()

COURSE_ID      0
FEEDBACK_ID    0
KO             0
DATE           0
QUESTION_ID    0
VALUE          0
STUDENT_ID     0
TIMESTAMP      0
TYPE           0
REMARKS        0
dtype: int64

In [ ]:
data1.shape

(58616, 10)

#Merging sector data to master data

*   In sheet_name 'Courses' changed ID to COURSE_ID and SUBOU to SUBOU_ID
*   In sheet_name 'OU' ID changed to SUBOU_ID

All of these changes are made in excel

In [ ]:
metadata_course = pd.read_excel('/content/DATASET FOR DSA (1).xlsx', sheet_name='Courses')

In [ ]:
metadata_course

,COURSE_ID,FY,QTR,OU_ID,SUBOU_ID,ORG,DOMAIN,SUBJECT,DURATION,MODE,TEMPLATE,COURSE_NAME,DATE_FROM,DATE_TO,CREATED_ON,STATUS,AUTHENTICATE,COURSE_CODE
0,12,2,2,2,2,5,1,1,4,1,1,DATA SCIENCE AND ANALYTICS,2024-08-22,2024-09-27,2024-08-27 14:44:44.453,1,0,DSA-RETAIL-08-2024-OFFLINE
1,13,2,2,2,2,5,3,6,4,1,1,CYBER SECURITY,2024-08-22,2024-08-31,2024-08-22 03:16:06.883,1,0,CS-RETAIL-AUG-2024-OFFLINE
2,14,2,2,2,2,5,2,7,4,1,1,FULL STACK DEVELOPER (MERN),2024-08-22,2024-10-30,2024-09-28 11:59:57.087,1,0,FSD-MERN-RETAIL-OFFLINE-AUG-2024
3,15,2,2,2,2,5,4,8,2,2,1,GOOGLE PRODUCTIVITY USING AI,2024-09-06,2024-09-06,2024-09-06 22:07:51.093,1,0,CP-NS-GPUA-03-SEP-2024-BATCH-01-GROUP
4,16,2,4,4,6,6,1,1,2,1,1,DATA ANALYTICS WITH EXCEL,2024-09-28,2024-11-16,2024-11-11 09:32:34.850,1,1,DSA-AOU-SBC-OCT-2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,1329,3,3,4,5,19,3,6,2,1,1,Marian Kuttikanam CSA Long Term 2025 June - Ph...,2025-12-08,2025-12-29,2025-12-07 18:49:07.833,0,0,CYBER SECURITY 5 DAY - Marian Kuttikanam
315,1330,3,3,4,4,1109,1,9,3,1,1,AIML Internship GEMS Arts and Science College,2025-12-17,2025-12-21,2025-12-10 23:42:21.227,0,0,AI/ML 1 month INTERNSHIP - GEMS Arts and Scien...
316,1331,3,3,4,5,43,1,9,7,1,1,Sahrdaya AIML batch 1 Feb 2025,2025-12-12,2025-12-12,2025-12-11 00:15:12.907,0,0,AI/ML IRP (Long term) - Sahradya College
317,1332,3,3,4,5,43,1,9,7,1,1,Sahrdaya AIML batch 2 - Feb 2025,2025-12-12,2025-12-12,2025-12-11 00:16:35.553,0,0,AI/ML IRP (Long term) - Sahradya College
318,1333,3,3,4,4,1110,1,1,2,1,1,"PowerBi, Tableau, R programming",2025-12-19,2025-12-20,2025-12-11 01:05:43.410,0,0,DATA SCIENCE & ANALYTICS 5 DAY - Calicut Unive...

In [ ]:
metadata_course = metadata_course[['COURSE_ID', 'SUBOU_ID']] # if other columns are needed do add it here

In [ ]:
mergeddata1 = data1.merge(
    metadata_course,
    on="COURSE_ID",
    how="left"
)

In [ ]:
mergeddata1.shape

(58616, 11)

In [ ]:
metadata_ou = pd.read_excel('/content/DATASET FOR DSA (1).xlsx', sheet_name='OU')

In [ ]:
metadata_ou

   SUBOU_ID  OU_ID          OU                 OUS
0         1      1  GOVERNMENT          GOVERNMENT
1         2      2      RETAIL              RETAIL
2         3      3   CORPORATE           CORPORATE
3         4      4    ACADEMIC    ACADEMIC (NORTH)
4         5      4    ACADEMIC  ACADEMIC (CENTRAL)
5         6      4    ACADEMIC    ACADEMIC (SOUTH)

In [ ]:
mergeddata2 = mergeddata1.merge(
    metadata_ou,
    on="SUBOU_ID",
    how="left"
)

In [ ]:
mergeddata2

,COURSE_ID,FEEDBACK_ID,KO,DATE,QUESTION_ID,VALUE,STUDENT_ID,TIMESTAMP,TYPE,REMARKS,SUBOU_ID,OU_ID,OU,OUS
0,12,50,92.0,2024-09-24,10,0,93,2024-09-24 10:45:38.227,2,Very nice class easyly understandable,2,2,RETAIL,RETAIL
1,12,50,92.0,2024-09-24,11,0,93,2024-09-24 10:45:38.227,2,Nil,2,2,RETAIL,RETAIL
2,12,50,92.0,2024-09-24,10,0,0,2024-09-24 13:04:27.833,2,.,2,2,RETAIL,RETAIL
3,12,50,92.0,2024-09-24,10,0,113,2024-09-24 13:05:35.293,2,Nice sir,2,2,RETAIL,RETAIL
4,12,50,92.0,2024-09-24,11,0,113,2024-09-24 13:05:35.310,2,Notjing spl,2,2,RETAIL,RETAIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58611,1254,1310,87.0,2025-08-29,11,0,25833,2025-08-29 16:48:53.683,2,No,1,1,GOVERNMENT,GOVERNMENT
58612,1254,1310,87.0,2025-08-29,4,0,25834,2025-08-29 16:50:43.447,2,Al,1,1,GOVERNMENT,GOVERNMENT
58613,1254,1310,87.0,2025-08-29,10,0,25834,2025-08-29 16:50:43.543,2,Na,1,1,GOVERNMENT,GOVERNMENT
58614,1254,1310,87.0,2025-08-29,11,0,25834,2025-08-29 16:50:43.583,2,Na,1,1,GOVERNMENT,GOVERNMENT
58615,1254,1310,87.0,2025-08-29,4,0,25835,2025-08-29 16:50:58.767,2,AI for Governance,1,1,GOVERNMENT,GOVERNMENT

In [ ]:
mergeddata2.shape

(58616, 14)

In [ ]:
mergeddata2.isna().sum()

COURSE_ID      0
FEEDBACK_ID    0
KO             0
DATE           0
QUESTION_ID    0
VALUE          0
STUDENT_ID     0
TIMESTAMP      0
TYPE           0
REMARKS        0
SUBOU_ID       0
OU_ID          0
OU             0
OUS            0
dtype: int64

In [ ]:
mergeddata2.to_csv('mergeddata.csv', index = False)

In [ ]:
data = pd.read_csv('/content/mergeddata.csv')

In [ ]:
data

,COURSE_ID,FEEDBACK_ID,KO,DATE,QUESTION_ID,VALUE,STUDENT_ID,TIMESTAMP,TYPE,REMARKS,SUBOU_ID,OU_ID,OU,OUS
0,12,50,92.0,2024-09-24,10,0,93,2024-09-24 10:45:38.227,2,Very nice class easyly understandable,2,2,RETAIL,RETAIL
1,12,50,92.0,2024-09-24,11,0,93,2024-09-24 10:45:38.227,2,Nil,2,2,RETAIL,RETAIL
2,12,50,92.0,2024-09-24,10,0,0,2024-09-24 13:04:27.833,2,.,2,2,RETAIL,RETAIL
3,12,50,92.0,2024-09-24,10,0,113,2024-09-24 13:05:35.293,2,Nice sir,2,2,RETAIL,RETAIL
4,12,50,92.0,2024-09-24,11,0,113,2024-09-24 13:05:35.310,2,Notjing spl,2,2,RETAIL,RETAIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58611,1254,1310,87.0,2025-08-29,11,0,25833,2025-08-29 16:48:53.683,2,No,1,1,GOVERNMENT,GOVERNMENT
58612,1254,1310,87.0,2025-08-29,4,0,25834,2025-08-29 16:50:43.447,2,Al,1,1,GOVERNMENT,GOVERNMENT
58613,1254,1310,87.0,2025-08-29,10,0,25834,2025-08-29 16:50:43.543,2,Na,1,1,GOVERNMENT,GOVERNMENT
58614,1254,1310,87.0,2025-08-29,11,0,25834,2025-08-29 16:50:43.583,2,Na,1,1,GOVERNMENT,GOVERNMENT
58615,1254,1310,87.0,2025-08-29,4,0,25835,2025-08-29 16:50:58.767,2,AI for Governance,1,1,GOVERNMENT,GOVERNMENT